body
{	
	margin: 0;
	padding: 0;
}
.div_1
{
	background: #333;
	text-align: right;
	height: 75px;
}
.div_1 ul
{
	margin: 0;
	padding: 0;
	line-height: 75px;
}
.div_1 li
{
	margin-right: 10px;
	display: inline;
}
.div_1 ul li:before{
	content: "● \20";
	color:#000;
}